{% load static i18n unicorn %}

<div class="navbar bg-transparent fixed top-0 left-0 z-10 transition-all ease-in-out duration-600 md:px-8" id="padalamo-navbar">
   <div class="flex-1">
      <div class="dropdown">
         <a class="btn btn-ghost normal-case text-xl rounded-full border-solid border-2 border-neutral-content" tabindex="0">
            <div class="fa-solid fa-gift"></div>
         </a>
         <ul class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52" tabindex="0">
            <li><a href="{% url 'products:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'products:store' %}">{% trans "Products" %}</a></li>
            <li><a>{% trans "Contact" %}</a></li>
         </ul>
      </div>
      <h6 class="ml-4 font-serif font-bold">Palamo.</h6>
   </div>
   <div class="flex-none">
      {% if request.user.is_authenticated %}
         {% unicorn 'basket.navbar_icon' %}
      {% endif %}
      <div class="dropdown dropdown-end">
         <label class="btn btn-ghost btn-circle avatar" tabindex="0">
            <div class="w-10 rounded-full">
               {% if request.user.is_authenticated and request.user.wagtail_userprofile.avatar %}
                  <img src="{{request.user.wagtail_userprofile.avatar.url}}">
               {% else %}
                  <img src="{% static 'core/assets/img/avatar.png' %}">
               {% endif %}
            </div>
         </label>
         <ul class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52" tabindex="0">
            {% if request.user.is_authenticated %}
               <li><a href="{% url 'profile:view' %}" class="justify-between">{% trans "Profile" %}</a></li>
               <li><a>{% trans "Orders" %}</a></li>
               <li><a href="{% url 'logout'%}">{% trans "Logout" %}</a></li>
            {% else %}
               <li><a href="{% url 'profile:signup' %}">{% trans "Log In" %}</a></li>
               <li><a href="{% url 'profile:signup'  %}">{% trans "Register" %}</a></li>
            {% endif %}
         </ul>
      </div>
   </div>
</div>