{% load i18n wagtailimages_tags %}

<div class="card bg-base-100 shadow-xl w-full md:w-2/5  lg:w-1/4">
    {% image selected_product.product_images.all.0.carousel_image fill-500x500 as img %}
    <figure><img src="{{img.url}}" alt="{{img.alt}}"></figure>
    <div class="card-body">
        <h2 class="card-title">{{selected_product.name}}</h2>
        <p class="font-light">{% trans "Price" %}: ${{selected_product.price}} MXN</p>
        <div class="card_actions justify-start">
            {% for tag in selected_product.tags.all %}
                <div class="badge badge-outline">{{tag}}</div>
            {% endfor %}
    </div>
    <div class="card-actions justify-end">
        <a href="{% url 'products:detail' selected_product.url %}" class="btn btn-primary">{% trans "See Product" %}</a>
    </div>
    </div>
</div>