{% extends 'layouts/master.html' %}

{% load static i18n %}

{% block title %}
    {% trans "Change My Password" %} 
{% endblock title %}

{% block content %}
<div class="hero h-96 bg-cover" style="background-image: url({% static 'core/assets/img/password_reset.webp' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-serif font-bold">{% trans "Change Password" %}</h1>
      </div>
    </div>
</div>
<div class="w-full flex justify-center items-center py-6">
    <form class="w-full card bg-base-100 shadow-xl md:w-1/2 lg:w-2/5" method="POST">
        {% csrf_token %}
        <div class="card-body">
            <h2 class="card-text">{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</h2>
            <div class="py-4">
                {% if form.errors %}
                    <div class="alert alert-error shadow-lg my-2">
                        <div><i class="fa-solid fa-circle-xmark"></i><span>{% trans "Error! Please check the error fields" %}</span></div>
                    </div>
                {% endif %}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{% trans "Old Password" %}</span>
                    </label>
                    <label class="flex flex-col">
                        {% for error in form.old_password.errors %}
                            <span class="font-bold text-error text-xs">{{error|escape}}</span>
                        {% endfor %}
                    </label>
                    <label class="input-group">
                        <span>{% trans "Password" %}</span>
                        <input id="{{ form.old_password.name }}" name="{{ form.old_password.name }}" class="input input-bordered w-full" type="password">
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{% trans "New Password" %}</span>
                    </label>
                    <label class="flex flex-col">
                        {% for error in form.new_password1.errors %}
                            <span class="font-bold text-error text-xs">{{error|escape}}</span>
                        {% endfor %}
                    </label>
                    <label class="input-group">
                        <span>{% trans "Password" %}</span>
                        <input id="{{ form.new_password1.name }}" name="{{ form.new_password1.name }}" class="input input-bordered w-full" type="password">
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{% trans "Confirm Password" %}</span>
                    </label>
                    <label class="flex flex-col">
                        {% for error in form.new_password2.errors %}
                            <span class="font-bold text-error text-xs">{{error|escape}}</span>
                        {% endfor %}
                    </label>
                    <label class="input-group">
                        <span>{% trans "Password" %}</span>
                        <input id="{{ form.new_password2.name }}" name="{{ form.new_password2.name }}" class="input input-bordered w-full" type="password">
                    </label>
                </div>
            </div>
            <div class="card-actions justify-end">
                <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}