{% extends 'layouts/master.html' %}

{% load static i18n %}

{% block title %}
    Palamo. | {% trans "Password Reset Complete" %}
{% endblock title %}

{% block content %}
<div class="hero h-96 bg-cover" style="background-image: url({% static 'core/assets/img/password_reset.jpg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-serif font-bold">{% trans "Password Reset Complete" %}</h1>
      </div>
    </div>
</div>
<div class="w-full flex justify-center items-center py-6">
    <form class="w-full card bg-base-100 shadow-xl md:w-1/2 lg:w-2/5">
      <div class="card-body">
        <h2 class="card-text">{% trans "Your password has been set. You may go ahead and log in now." %}</h2>
        <div class="card-actions justify-end mt-2">
          <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Log In" %}</a>
        </div>
      </div>
    </form>
</div>
{% endblock content %}