{% extends 'layouts/master.html' %}

{% load i18n %}

{% block title %}
    {% trans "Delete Address" %}
{% endblock title %}

{% block content %}
<div class="hero min-h-screen bg-error">
    <div class="hero-overlay bg-opacity-40"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <form method="post">
                {% csrf_token %}
                <h1 class="mb-5 text-6xl font-bold font-serif">{% trans "Are you sure?" %}</h1>
                <p class="text-2xl mb-5">{% trans "If you delete the address, cannot be reverted" %}</p>
                <div class="flex justify-evenly">
                    <a href="{% url 'address:view' %}" class="btn btn-primary">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-accent">{% trans "Delete" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}