{% extends 'layouts/master.html' %}

{% load static i18n %}

{% block title %}{% trans "My Addresses" %} | {{request.user.first_name}} {{request.user.last_name}}{% endblock title %}

{% block content %}
<div class="hero h-96" style="background-image: url({% static 'core/assets/img/address_view_wallpaper.jpg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-serif font-bold">{% trans "My addreses" %}</h1>
        <a href="{% url 'address:add' %}" class="btn btn-primary">{% trans "Add Address" %}</a>
      </div>
    </div>
</div>
<div class="w-full px-4 py-10 flex flex-wrap justify-center bg-secondary-focus md:px-8">
    {% for client_address in client_address_list %}
        {% include 'address/components/address_card.html' with card_address=client_address %}
    {% empty %}
        <div class="w-full flex flex-wrap justify-center">
            <h1 class="font-bold font-serif text-4xl text-primary">{% trans "Not addresses yet." %}</h1>
        </div>
    {% endfor %}    

</div>
{% endblock content %}