{% extends 'layouts/master.html' %}

{% load static i18n wagtailimages_tags wagtailcore_tags unicorn %}

{% block title %}
  404 - {% trans "Not Found" %}
{% endblock title %}

{% block content %}
<div class="hero h-screen bg-cover" style="background-image: url({% static 'core/assets/img/404_desert.webp' %})">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="text-9xl font-bold font-serif mb-5">404</h1>
        <p class="text-xl font-serif mb-5 md:text-2xl">{% trans "In the desert you could find more things..." %}</p>
        <a class="btn btn-lg btn-primary" href="{% url 'products:store' %}">{% trans "Lets go buy!" %}</a>
      </div>
    </div>
</div>
{% endblock content %}