{% extends 'layouts/master.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block title %}
  {{page.title}}
{% endblock title %}

{% block extra_css %}
<style>
  ul {
    list-style-type: disc !important;  
  }
  
  ol {
    list-style-type: decimal !important;
  }
</style>
{% endblock extra_css %}

{% block content %}
{% image page.header_image original format-webp as back_img %}
<div class="hero h-96 bg-cover" style="background-image: url({{back_img.url}});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-serif font-bold">{{page.header_text}}</h1>
      </div>
    </div>
</div>
<div class="w-full flex flex-wrap justify-center items-center my-10 px-2">
    <div class="w-full bg-primary-content rounded-xl shadow-card py-8 px-10 leading-relaxed transition-all ease-in-out duration-300 md:text-xl md:max-w-6xl">
      {{page.body|richtext}}
    </div>
</div>
{% endblock content %}
